:root {
    --bg-light: whitesmoke;
    --bg-dark: #060606;
    --light: whitesmoke;
    --dark: #060606;
    --blue-dark: #062743;
    --light-dark: #0d375c;
    --blue-light: #2f86a6;
}
#body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../imagenes/bg.png);
    background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
    body {
        /* Change de background */
        background-image: url(../imagenes/bgPhone.png) !important;
        background-color: white !important;
    }
}
#header .navbar-brand {
    color: var(--light) !important;
}
#header .nav-link {
    color: var(--dark);
    background-color: white;
    transition: all .5s;
}
#header .nav-link:hover {
    color: var(--light);
    background-color: var(--blue-dark); 
}
#main .abs-center {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 94vh;
}
#main span {
    color: var(--light-dark); 
    transition: all .3s;
}
.profession {
    color: var(--blue-light) !important;
    transition: all .3s;
}
#main span:hover {
    color: #2F86A6;
}
.profession:hover {
    color: var(--light-dark) !important;
}
#about {
    background-color: var(--bg-light) !important;
}
#about .card-header {
    background-color: var(--light-dark);
    color: white;
}
#about .card-body {
    background-color: white;
    color: var(--light-dark);
}
.card-header span {
    color: white !important;
}
.card-body span {
    color: var(--light-dark) !important;
}
.bi-award, .bi-translate, .bi-briefcase {
    font-size: 25px;
}
#projects .card-header-one {
    background-color: var(--light-dark);
    background-image: url(../imagenes/projectOne.jpg);
    color: white;
}
#projects .card-header-two {
    background-color: var(--light-dark);
    background-image: url(../imagenes/projectTwo.jpg);
    color: white;
}
#projects .card-header-three {
    background-color: var(--light-dark);
    background-image: url(../imagenes/projectThree.jpg);
    color: white;
}
#projects .card-body {
    background-color: white;
    color: var(--light-dark);
}
#projects img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
#tecno .card {
    display: flex;
    justify-content: center;
    align-items: center;
}
#tecno img {
    width: 50%;
    height: 140px;
    margin: 3px;
}
#contact {
    background-color: var(--bg-light);
}
#contact .form-control {
    border: 0;
    border-bottom: 2px solid var(--blue-dark);
    border-radius: 0;
    background-color: transparent;
}
input:focus, select:focus, select, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
textarea:focus, select:focus, select, textarea.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;  
}
#contact a {
    font-size: 50px;
    color: var(--blue-dark);
}
#footer .btn-perso {
    background-color: var(--light-dark);
    border-radius: 100px;
    margin-bottom: 1px;
}
#footer .bi-arrow-up-short {
    color: var(--light);
    font-size: 30px;
    padding: 2px;
}